.notification {
    /*position: fixed;*/
    /*bottom: 20px;*/
    /*right: 20px;*/
    /*z-index: 1000;*/
    /*opacity: 0;*/
    transition: opacity 0.3s ease-in-out;
}

.notification-show {
    opacity: 1;
}

.notification-hide {
    opacity: 0;
}

.notification-success {
    background-color: #4caf50;
}

.notification-info {
    background-color: #2196f3;
}

.notification-warning {
    background-color: #ff9800;
}

.notification-error {
    background-color: #f44336;
}
